<style type="text/css">
    

</style>

<a style="font-size:15px" href="@Url.Action("GioHang","GioHang")" class="giohang" >Giỏ hàng<i class="fa fa-shopping-cart">
        </i> @ViewBag.TongSoLuong</a>

