
@{
    ViewBag.Title = "dmss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div><h2 style="padding-left: 20px; font-weight: bold;"> SAMSUNG </h2></div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="formspss">
                <a href="@Url.Action("xemchitiet", new { @Masp=item.Masp })">
                    <img src=@Url.Content("~" + item.Anhbia) class="imgs-spss" alt="" />
                </a>
                <center>
                    <h3 class="Name"> <b> @item.Tensp </b></h3>
                    <p class="Mn"> @(item.Giatien?.ToString("N0") ?? "0") VNĐ</p>

                </center>
            </div>

        </div>
    }


</div>
<style>
    .formspss {
        height: 350px;
        margin-top: 20px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0.4rem 0.4rem 0.7rem rgb(194 180 180);
    }

    .Name {
        padding-top: 10px;
        text-align: center;
        font-weight: bold;
    }

    h3 {
        font-size: 13px;
    }

    .imgs-spss {
        padding-top: 30px;
        margin-left: 30px;
        display: block;
        width: 200px;
        height: 230px;
    }

    .Mn {
        padding-top: 10px;
        text-align: center;
        color: red;
        font-weight: bold;
        font-size: 15px;
    }
</style>




