<div class="product-list row">
    @foreach (var item in Model)
    {
        <div class="product-item col-md-3 col-sm-6">
            <div class="product-card">
                <p class="product-card__installment">
                    Trả góp 0%
                </p>
                <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                    <img src="@Url.Content("~"+item.Anhbia)" class="product-card__image" alt="Product Image" />
                </a>
                <p>
                    <h3 class="product-card__name">  @item.Tensp </h3>
                <p class="product-card__price"> @item.Giatien.ToString("N0") VNĐ</p>
                <br />
                </p>
            </div>
        </div>
    }
</div>

