<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="formspxm">
                <p class="tg">
                    Trả góp 0%
                </p>
                <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                    <img src="@Url.Content("~" + item.Anhbia)" class="imgs-spxm" alt="" />
                </a>
                <center>
                    <h3 class="Ten-xm"> @item.Tensp </h3>
                    <p class="Xm"> @item.Giatien.ToString("N0") VNĐ</p>
                </center>
            </div>
        </div>
    }
</div>

<style>
    .formspxm {
        height: 380px;
        margin-top: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0.4rem 0.4rem 0.7rem rgb(194 180 180);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        position: relative; /* Đảm bảo tgg được đặt đúng vị trí */
        overflow: hidden;
        transition: transform 0.3s ease-in-out; /* Thêm hiệu ứng cho toàn bộ formspxm */
    }

        .formspxm:hover {
            transform: scale(1.05); /* Khi rê chuột vào thẻ formspxm, phóng to */
        }

    .Xm {
        color: red;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        margin-top: auto;
    }

    .Ten-xm {
        font-weight: bold;
        text-align: left;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .imgs-spxm {
        margin: 0 auto;
        display: block;
        width: 200px;
        height: 220px;
        padding-top: 20px;
      
    }

      
</style>
