
<div class="row">
    <div><h2 style="padding-left:20px;font-weight:bold;"> XIAOMI </h2></div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="formspxm">
                <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                    <img src=@Url.Content("~"+item.Anhbia) class="imgs-spxm" alt="" />
                </a>
                <center>
                    <h3 class="Ten-xm"> @item.Tensp </h3>
                    <p class="Xm"> @item.Giatien.ToString("N0") VNĐ</p>             
                </center>
            </div>       
        </div>
    }
    <style>
        .formspxm {
            height: 350px;
            margin-top: 20px;
            background-color: #ffffff;
            border-radius: 20px;
            box-shadow: 0.4rem 0.4rem 0.7rem rgb(194 180 180);
        }
        .Xm {
            padding-top: 10px;
            text-align: center;
            color: red;
            font-weight: bold;
            font-size: 15px;
        }

        .Ten-xm {
            padding-top: 10px;
            text-align: center;
            font-weight: bold;
        }


        .imgs-spxm {
            padding-top: 30px;
            margin-left: 30px;
            display: block;
            width: 200px;
            height: 230px;
        }

      
    </style>

</div>


