
@{
    ViewBag.Title = "SanphamTheoHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Ictshop.Models.Sanpham>

<h2 style="font-weight:bold">Sản phẩm của hãng @ViewBag.TenHang</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 ">
            <div class="formsp">
                <p class="tg" style="margin-top:20px;margin-right:15px">
                    Trả góp 0%
                </p>
                <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                    <img src=@Url.Content("~"+item.Anhbia) class="imgs-ip" alt="" />
                </a>
                <p>
                    <h5 class="Ten-ip">  @item.Tensp </h5>
                <p class="Mn"> @(item.Giatien?.ToString("N0") ?? "0") VNĐ</p>
                <br />
            </div>
        </div>
    }
</div>
<style>
    .formsp {
        height: 380px;
        margin-top: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0.4rem 0.4rem 0.7rem rgb(194 180 180);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

    .Mn {
        color: red;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        margin-top: auto;
    }

    .Ten-ip {
        font-weight: bold;
        text-align: left;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .imgs-ip {
        margin: 0 auto;
        display: block;
        width: 200px;
        height: 220px;
        padding-top: 20px;
    }

    .tg {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgb(255, 255, 255);
        background-image: none;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(12, 83, 183);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-style: solid;
        border-bottom-width: 0.571429px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: rgb(12, 83, 183);
        border-left-style: solid;
        border-left-width: 0.571429px;
        border-right-color: rgb(12, 83, 183);
        border-right-style: solid;
        border-right-width: 0.571429px;
        border-top-color: rgb(12, 83, 183);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-style: solid;
        border-top-width: 0.571429px;
        box-sizing: content-box;
        color: rgb(12, 83, 183);
        display: block;
        font-family: Roboto, sans-serif;
        font-size: 10px;
        font-weight: 500;
        height: 15px;
        line-height: 15px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        position: absolute;
        right: 0px;
        text-rendering: optimizelegibility;
        text-size-adjust: 100%;
        top: 0px;
        unicode-bidi: isolate;
        width: 49.3661px;
        -webkit-font-smoothing: antialiased;
    }
</style>




