@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    
</address>

<address>
    <strong>Email:</strong> <br />
</address>